@import 'tailwindcss';

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		background: #f4f4f5;
		font-family: 'Space Grotesk', sans-serif;
		color: #111111;
		height: 100vh;
		overflow: hidden;
	}
}

@keyframes popIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@utility animate-popIn {
	animation: popIn 0.15s ease-out;
}
